/*
 * Base structure
 */
 
html, body {
    height: 100%;    
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-top: 0;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  padding-top: 64px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 64px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #0E2134;    
    /*border-right: 1px solid #eee;*/
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  /*padding: 20px;*/  
  padding-top: 79px;
}

.header {
    position: fixed;
    right: 0px;
    left: 0;
    background-color: #0E2134;
    top: 0;    
    z-index: 99999;
    height: 64px;
    padding-left: 15px;
}

.header h2 {
    line-height: 64px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 104px;    
  }
  .header {
    padding-left: 40px;
  }
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.table-fixed {
    table-layout: fixed;
    word-wrap: break-word;
}

.header {
    position: fixed;
    right: 0px;
    left: 0;
    background-color: #0E2134;
    top: 0;    
    z-index: 99999;
    padding-left: 25px;
}

.footer {
    position: fixed;
    right: 0px;
    left: 0;
    background-color: #0E2134;
    bottom: 0;    
    z-index: 99999;
}

.card table {
    margin: 0;
}

a.link-card {
	text-decoration: none;
	border: 0 none;
    color: #fff;
}
a.link-card:hover {
	text-decoration: none;
	border: 0 none;
    color: #fff;    
}

a.link-card:hover .card {
    box-shadow: 0px 0px 10px #0E2134;   
}
