html, body {
    height: 100%;    
}

body {
  padding-bottom: 20px;
  width: 1px;
  min-width: 100%;
  width: 100%;
  /*background-color: #EEEEEE;*/
}

@media (min-width: 768px) {
  body {
    /* padding-top:    50px; */
    padding-bottom: 50px;
  }
}

/* global spacing overrides */
h1, h2, h3, h4, h5, h6, .a, .b, .c, .d, .e, .f {
    margin-top: 0;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.g, .h {
    border-bottom: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
        
.table-row-selectable tr {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.goods-count {
    font-size: smaller;
    color: #bbbbbb;
    text-align: right;
    vertical-align: middle !important;
}

.goods-cost {
    font-size: larger;
    color: #3d8b40;
    text-align: right;
    vertical-align: middle !important;
}

.summary-cost {
    font-weight: bold;
    vertical-align: middle !important;
}

.text-money {
    color: #3d8b40;
}

.fa.fa-big {
    font-size: 19px;
}

.borderless td, .borderless th {
    border: none !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #dddddd;
}